.App{
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; 
  background-color: #b8b8b8; */
}

.App >*{
  margin-bottom: 20px;
  max-width: 90%;
}
h2, .h2{
  font-size: 1.5rem;
}

button{
  min-width: 50px;
  min-height: 15px;
  padding:10px 20px
}

p, button{
  margin-bottom: 20px;
}