.App{
    background-color: #e0e0e0;
    min-height: 100vh;
    padding-top:4rem;
}
 .navbar-nav .dropdown-menu{
    margin: 0;
}
.container a{
    text-decoration: none;
}
.subMenu{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}
.o-x-h{
    height: 200px;
    display: block;
    overflow-x: hidden;
    background: ghostwhite;
    padding: 1rem;
    margin: 1rem 0;
}
.depth1 > .hasDropdown, .hasDropdown.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
   /* background-color :#54e08738!important */
  position: relative;
}

.hasDropdown.nav-item + .dropdown{
    position: relative;
    /* position: absolute; */ 
}
.offcanvas .depth1 > .hasDropdown.nav-item + .dropdown{
    position: absolute;
    display: none;
}
.offcanvas .depth1> .hasDropdown.nav-item + .dropdown.show{
    position: relative;
    /* position: absolute; */
    display: block;
}
.App .depth1:hover{
    cursor: pointer;
}
.App .depth1 > .hasDropdown >.dropdown-toggle{
    display: inline;
}
.App .depth1 > .hasDropdown > .dropdownToken:after{
    content:"v"
}

.App  .depth1 > .dropdown{
    display: none;
    background-color: #ebebeb;
    min-width: 260px;
    z-index: 666;
}
.App .navbar-dark .depth1 > .dropdown{
    background-color: #2e2e2e;
}
.App .depth1 > .show.dropdown{ 
    display: block;
}

.App .depth1.nav-item.dropdown > .nav-item{
    display: flex;
   
}
.navbar-dark .dropdown-toggle:after {
    color: white;
}
.rightNavbar{
     order: none
}

.breadcrumb .breadcrumbLinkWrapper .breadcrumbLink {
    text-decoration: underline;
    
    color:black;  
}
.breadcrumb .breadcrumbLinkWrapper:after{
    content:"\\";
    margin: auto 10px;
}
.breadcrumb .breadcrumbLinkWrapper:hover{
    color:black;
    font-weight: bold;
}

.btn{
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

[class^="panel-"]{
    padding:2rem;
}
.panel-light{
    background-color: white;
    color: #343a40;
}
.panel-dark{
    background-color: #343a40;
    color:white;
}
[class^="themeMode-"]{
    margin: auto 15px
}
[class^="themeMode-"]:hover{
    cursor: pointer;
}
.themeMode-dark >*{
    color:white;
}
.themeMode-light >*{
    color:#343a40;
}

@media (min-width: 992px) {
    .App .depth1 > .hasDropdown > .dropdownToken:after{
        content:""
    }
    .App .depth1 > .hasDropdown >.dropdown-toggle:after{
        content:none;
    }
    .App .depth1.nav-item:hover > .dropdown {
        display: block;

    }
    .App .depth1 > .dropdown{
        position: absolute;
       
    }
    .rightNavbar{
        order: 10
   }
}